/*  <fonts>  */
@font-face
	font-family 'Open Sans'
	src url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff')
	font-weight normal
	font-style normal
@font-face
	font-family 'Open Sans'
	src url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff')
	font-weight bold
	font-style normal
/*  </fonts>  */

$font = 'Open Sans';
$colorText = #777;

/*  <general>  */
html
	font-size 62.5%
	cursor default
	-webkit-text-size-adjust 100%
	-ms-text-size-adjust 100%
	-webkit-tap-highlight-color #000
	text-rendering optimizeLegibility
	-webkit-font-smoothing antialiased
	font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

body
	display flex
	flex-direction column
	min-height 100vh
	color $colorText
	font normal 1.4rem/1.6 $font
	background-color #fff
:-moz-placeholder
	opacity 1
	color currentColor
:-ms-input-placeholder
	opacity: 1
	color currentColor
a
	color #5769A3
	font inherit
	text-decoration none
	transition all .2s
	&:hover
		text-decoration underline
img
	max-width 100%
.main
	flex 1
/*  </general>  */

/*  <header>  */
.header
	flex-shrink 0
	display flex
	justify-content space-between
	align-items center
	margin 13px 0
	&__logo
		width 330px
		margin-right 100px
	&__slogan
		width 150px
		height 10px
		background url('../i/slogan.svg') no-repeat
	&__icons
		flex 1
		display flex
		justify-content flex-end
		align-items center
		&-item
			position relative
			width 24px
			height 24px
			margin-left 60px
			&::before
				position absolute
				top 50%
				left -31px
				width 1px
				height 24px
				background-color #5769A3
				content ''
				transform translateY(-50%)
				pointer-events none
			&:first-child
				margin-left 0
				&::before
					display none
			svg
				width @width
				height @width
				fill #5769A3
/*  </header>  */

/*  <nav>  */
.nav
	background-color #5769A3
	&-main
		display flex
		&__item
			display flex
			align-items center
			position relative
			height 75px
			color #fff
			font-size 2rem
			text-transform uppercase
			margin-right 46px
			&:hover
				text-decoration none
				&::before
					animation fadeIn .5s
					position absolute
					top 73px
					left 0
					width 100%
					max-width 109px
					height 2px
					background-color #fff
					content ''
			&--sub
				&:hover .nav-main__sub
					display flex
					flex-direction column
					animation fadeIn .5s
					position absolute
					top 100%
					left 0
					z-index 3
					width 256px
					background-color #fff
					box-shadow 0 3px 6px rgba(#000, .16)
			&-sub
				position relative
				color #fff
				font-size 2rem
				padding-right 30px
				a:hover&
					text-decoration none
				&::before
					position absolute
					top 50%
					right 0
					border solid transparent
					border-width 5px 3.5px 0
					border-top-color #fff
					content ''
					transform translateY(-50%)
			&::after
				position absolute
				top 50%
				right -23px
				width 1px
				height 24px
				background-color #fff
				content ''
				transform translateY(-50%)
				pointer-events none
			&:last-child
				margin-right 0
				&::after
					display none
		&__sub
			display none
			&-item
				display block
				color #707070
				font-size 2rem
				text-transform none
				padding 10px 32px 10px 49px
				a:hover&
					position relative
					color #5769A3
					text-decoration none
					background-color #DBE0F4
					&::after
						position absolute
						top 50%
						right 27px
						border solid transparent
						border-width 3.5px 0 3.5px 5px
						border-left-color #5769A3
						content ''
						transform translateY(-50%)
/*  </nav>  */

/*  <slider>  */
.slider
	&-item
		position relative
		width 100%
		&__pic
			position relative
			height 624px
			&::before
				position absolute
				top 0
				right 0
				bottom 0
				left 0
				background-color rgba(#00155A, .4)
				content ''
			img
				object-fit cover
		&__descr
			position absolute
			top 50%
			left 50%
			width 495px
			color #fff
			font-size 2.4rem
			text-align center
			transform translate(-50%, -50%)
	&-down
		animation sliderCirlce 2s infinite
		position absolute
		bottom 25px
		left 50%
		z-index 3
		width 32px
		height @width
		border 1px solid #fff
		border-radius 50%
		transform translateX(-50%)
		&::before
			animation sliderArrow 2s infinite
			position absolute
			top 50%
			left 50%
			width 6px
			height @width
			border solid #fff
			border-width 0 1px 1px 0
			content ''
			transform rotate(45deg) translateX(-75%)
	.flickity-page-dots
		bottom 75px
		counter-reset section
		.dot
			position relative
			width 48px
			height 22px
			background none
			border-radius 0
			margin 0 4px
			opacity 1
			&::before
				position absolute
				top 0
				right 0
				left 0
				height 2px
				background-color #fff
				content ''
			&::after
				position absolute
				bottom 0
				left 50%
				color #fff
				font-size 1.2rem
				line-height 1
				transform translateX(-50%)
				counter-increment section
				content counter(section, decimal-leading-zero)
			&.is-selected
				&::before
					background-color #465893
				&::after
					color #465893
/*  </slider>  */

/*  <home-about-us>  */
.home-about-us
	max-width 826px
	text-align center
	margin 65px auto 48px
	&__title
		position relative
		color #465893
		font-weight bold
		font-size 3rem
		line-height 1
		text-transform uppercase
		padding-bottom 20px
		&::after
			position absolute
			bottom 0
			left 50%
			width 74px
			height 1px
			background-color #465893
			content ''
			transform translateX(-50%)
	&__descr
		color #777
		font-size 2.4rem
		line-height 1
		margin 50px 0
	&__notice
		font-size 1.4rem
		line-height 1
		margin 50px 0
	&__btn
		display flex
		justify-content center
/*  </home-about-us>  */

/*  <home-products>  */
.home-products
	background-color #E8E8E8
	padding 55px 0
	&__title
		position relative
		color #465893
		font-weight bold
		font-size 2.4rem
		line-height 1
		text-transform uppercase
		text-align center
		padding-bottom 20px
		margin-bottom 45px
		&::after
			position absolute
			bottom 0
			left 50%
			width 74px
			height 1px
			background-color #465893
			content ''
			transform translateX(-50%)
	&__items
		display flex
		flex-wrap wrap
		justify-content space-between
		margin 0 -25px
	&__item
		display flex
		flex-direction column
		align-items center
		width calc(20% - 25px)
		&-pic
			display flex
			justify-content center
			align-items center
			overflow hidden
			position relative
			width 154px
			height 154px
			border-radius 50%
			margin-bottom 22px
			&::after
				position absolute
				top 0
				right 0
				bottom 0
				left 0
				background-color rgba(#465893, .3)
				content ''
				pointer-events none
			img
				object-fit cover
		&-name
			color #777
			font-size 2rem
			text-decoration underline
			text-decoration-style dotted
			a:hover&
				text-decoration none
/*  </home-products>  */

/*  <home-advantage>  */
.home-advantage
	padding 55px 0
	&__title
		position relative
		color #465893
		font-weight bold
		font-size 2.4rem
		line-height 1
		text-transform uppercase
		text-align center
		padding-bottom 20px
		margin-bottom 45px
		&::after
			position absolute
			bottom 0
			left 50%
			width 74px
			height 1px
			background-color #465893
			content ''
			transform translateX(-50%)
	&__items
		display flex
		justify-content space-between
		margin 0 -8px
	&__item
		width calc(20% - 8px)
		text-align center
		margin 0 8px
		&-icon
			display flex
			justify-content center
			align-items center
			img
				max-height 100%
		&-name
			position relative
			color #465893
			font-size 1.6rem
			line-height 1
			text-transform uppercase
			padding-bottom 15px
			margin-top 12px
			span
				display block
			&::after
				position absolute
				bottom 0
				left 50%
				width 70px
				height 1px
				background-color #465893
				content ''
				transform translateX(-50%)
		&-descr
			color #777
			font-size 1.6rem
			margin-top 18px
/*  </home-advantage>  */

/*  <home-stat>  */
.home-stat
	background-color #00155A
	padding 36px 0
	&__title
		position relative
		width 220px
		color #fff
		font-weight bold
		font-size 2.1rem
		line-height 2.6rem
		text-align center
		padding-bottom 20px
		margin 0 auto 44px
		&::after
			position absolute
			bottom 0
			left 50%
			width 70px
			height 1px
			background-color #fff
			content ''
			transform translateX(-50%)
	&__items
		display flex
		justify-content space-between
	&__item
		color #fff
		font-size 1.6rem
		line-height 1.2
		text-align center
		span
			display block
			font-size 4rem
/*  </home-stat>  */

/*  <send-message>  */
.send-message
	background-color #E8E8E8
	padding 46px 0 52px
	&__title
		color #777
		font-size 2.1rem
		text-transform uppercase
		text-align center
		margin-bottom 35px
	&__form
		display flex
		flex-wrap wrap
		justify-content space-between
		max-width 464px
		margin auto
		&-input
			position relative
			width calc(50% - 22px)
			input
				width 100%
				height 40px
				color #777
				font-size 1.4rem
				background-color transparent
				border 0
				border-bottom 1px solid #A7A7A7
				padding 0 3px
				& + label
					position absolute
					top 50%
					left 3px
					color #A7A7A7
					font-size 1.4rem
					transform translateY(-50%)
					transition all .2s
					pointer-events none
				&:focus + label
					top 0
				&:not(:placeholder-shown) + label
					top 0
				&:required:not(:placeholder-shown)
					border-bottom-color #f00
					box-shadow none
		&-textarea
			width 100%
			height 94px
			color #777
			font-size 1.4rem
			background-color #fff
			border 0
			padding 12px 15px
			margin-top 30px
			resize none
		&-submit
			display flex
			justify-content center
			width 100%
			margin-top 55px
/*  <send-message>  */

/*  <footer>  */
.footer
	overflow hidden
	color #fff
	background-color #1F1F1F
	padding 50px 0 30px
	&-general
		display flex
		justify-content center
		font-size 1.4rem
		line-height 1
		margin-bottom 38px
		a
			display flex
			align-items center
			color #fff
		svg
			fill #fff
			margin-right 11px
		&__phone
			position relative
			margin-right 77px
			&::after
				position absolute
				top 50%
				right -38px
				width 1px
				height 17px
				background-color #fff
				content ''
				transform translateY(-50%)
			svg
				width 24px
				height 24px
		&__email
			svg
				width 24px
				height 17px
	&-nav
		text-align center
		margin-bottom 22px
		&__item
			position relative
			color #fff
			font-size 1.6rem
			line-height 1.8rem
			text-transform uppercase
			margin-right 40px
			&::after
				position absolute
				top 50%
				right -20px
				width 1px
				height 14px
				background-color #fff
				content ''
				transform translateY(-50%)
			&:last-child
				margin-right 0
				&::after
					display none
	&-info
		max-width 344px
		font-size 1.4rem
		line-height 2rem
		text-align center
		margin 0 auto 40px
		p
			margin 0
	&-copyright
		position relative
		font-size 1.2rem
		text-align center
		padding-top 28px
		&::before
			position absolute
			top 0
			width 2000%
			height 1px
			background-color #707070
			content ''
		&::before
			left -1000%
/*  </footer>  */

/*  <elements>  */
.btn
	display flex
	justify-content center
	align-items center
	width 200px
	height 40px
	font-size 1.4rem
	padding 0 10px
	cursor pointer
	transition all .2s
	a:hover&
		text-decoration none
	&--blue
		color #fff
		background-color #465893
		border 0
		&:hover
			background-color darken(#465893, 5)
	&--white
		color #777
		background-color #fff
		border 1px solid #777
		&:hover
			color darken(#777, 10)
			border-color @color
			box-shadow inset 0 0 10px rgba(#000, .2)
/*  </elements>  */

/*  <animation>  */
@keyframes fadeIn
	from
		opacity 0
	to
		opacity 1
@keyframes sliderCirlce
	from
		border-color #fff
	50%
		border-color #465893
	to
		border-color #fff
@keyframes sliderArrow
	from
		border-color #fff
	50%
		border-color #465893
	to
		border-color #fff
/*  </animation>  */